[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/NeoDarkness
[access "refs/for/refs/*"]
	read = group user/NeoDarkness
	push = group user/NeoDarkness
	label-Code-Review = -2..+2 group user/NeoDarkness
	label-Verified = -1..+1 group user/NeoDarkness
	rebase = group user/NeoDarkness
	removeReviewer = group user/NeoDarkness
	submit = group user/NeoDarkness
[access "refs/heads/*"]
	read = group user/NeoDarkness
	create = group user/NeoDarkness
	push = +force group user/NeoDarkness
	pushMerge = group user/NeoDarkness
[access "refs/tags/*"]
	push = group user/NeoDarkness
	push = +force group user/NeoDarkness
